{% extends "base.html" %}

{% block main %}
<form method="POST" action="{{url_for('contact')}}">   
    <h1>Contact Form</h1>
    <hr>
    <p>Fill in this form to contact site owners</p><br>
    {{ form.csrf_token }} 

    {{ form.name.label }}
    <p>Please enter your full name</p> 
    {{ form.name}}<br> <br>
    
    {{ form.email.label }}    
    <p>Please enter your e-mail address</p>
    {{ form.email}}<br><br>

    {{ form.subject.label }}    
    <p>Please enter the subject for you message</p>
    {{ form.subject}}<br><br>

    {{ form.message.label }}    
    <p>Please enter the message you would like to send</p>
    {{ form.message}} <br>

    <button type="submit">Submit</button>
</form>

{% endblock %}